doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/buttons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components-font-awesome/css/font-awesome.min.css')
  body
    block content
