body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #63C2D6
}

a {
    color: #00B7FF;
}


/**/


/**/


/**/


/*index.jade*/


/**/


/**/


/**/

.image-area {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.date-title {
    font-size: 13px;
    color: #999999;
    border-bottom: solid #eeeeee 0.5px;
}

.code-image {
    height: 200px;
    margin: 2px;
}

.image-block {
    padding: 10px;
    box-shadow: 0px 0px 4px #63C2D6;
    border-radius: 2px;
    margin: 5px;
    background: #fff;
}

.image-block-content {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/**/


/*manage.jade*/


/**/
.button-utl {
	position: absolute;
}
.button-close {
    margin: 5px auto auto 5px;
}

.button-edit {
    margin: 5px auto auto 5px;
}

#fileupload {
    width: 0px;
    height: 0px;
}

.modal-footer {
	display: flex;
	align-content: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}
